<!-- ###TEMPLATE### begin -->
	<div class="error-DIV-boxed">
		<div class="error-DIV-head">
			<b>
				###TMPL_ERROR_TITLE###
				###ERROR_ATTR_CODE###
			</b>
		</div>
		<div class="error-DIV-text">
			<div class="error-DIV-text-icon"></div>
			###ERROR_CONTENT###
			<div class="error-DIV-clear-float"></div>
		</div>
	</div>
<!-- ###TEMPLATE### end -->

