###TEMPLATE###
	###WEEKLYARTISTCHART_ATTR_GROUP### (###WEEKLYARTISTCHART_ATTR_FROM### - ###WEEKLYARTISTCHART_ATTR_TO###)
	<br />
	
	<table class="group_getWeeklyArtistChart-TABLE" cellspacing="0px" cellpadding="2px">
		<!-- ###TEMPLATE_ARTIST### begin -->
			<tr class="###TEMPLATE_ARTIST_group.getWeeklyArtistChart_TR_CLASS### group_getWeeklyArtistChart_TR_CLASS-effect">
				<td width="5%">
					###ARTIST_ATTR_RANK###
				</td>
				<td>
					<div style="width:###TEMPLATE_ARTIST_group.getWeeklyArtistChart_DIV_WIDTH###%;" class="group_getWeeklyArtistChart-DIV-chart">
						<span>
						</span>
					</div>
					<div class="group_getWeeklyArtistChart-DIV-chart-text">
						###ARTIST_URLNAME###
					</div>
				</td>
				<td width="10%">
					###ARTIST_PLAYCOUNT###
				</td>
			</tr>
		<!-- ###TEMPLATE_ARTIST### end -->
	</table>

###TEMPLATE###
