###TEMPLATE###
	###NEIGHBOURS_ATTR_USER###
	<br />
	
	<table class="user_getNeighbours-TABLE" cellspacing="0px" cellpadding="2px">
		<!-- ###TEMPLATE_USER### begin -->
			<tr class="user_getNeighbours-TR-CLASS">
				<td width="5%">
					###USER_IMAGE###
				</td>
				<td>
					<div style="width:###USER_MATCH###%;" class="user_getNeighbours-DIV-chart">
						<span>
						</span>
					</div>
					<div class="user_getNeighbours-DIV-chart-text">
						###USER_URLNAME### (###USER_MATCH###)
					</div>
				</td>
			</tr>
		<!-- ###TEMPLATE_USER### end -->
	</table>
###TEMPLATE###

