###TEMPLATE###
	###WEEKLYTRACKCHART_ATTR_USER### (###WEEKLYTRACKCHART_ATTR_FROM### - ###WEEKLYTRACKCHART_ATTR_TO###)
	<br />
	
	<table class="user_getWeeklyTrackChart-TABLE" cellspacing="0px" cellpadding="2px">
		<!-- ###TEMPLATE_TRACK### begin -->
			<tr class="###TEMPLATE_TRACK_user.getWeeklyTrackChart_TR_CLASS-effect### user_getWeeklyTrackChart-TR_CLASS-effect">
				<td width="5%">
					###TRACK_ATTR_RANK###
				</td>
				<td>
					<div style="width:###TEMPLATE_TRACK_user.getWeeklyTrackChart_DIV_WIDTH###%;" class="user_getWeeklyTrackChart-DIV-chart">
						<span>
						</span>
					</div>
					<div class="user_getWeeklyTrackChart-DIV-chart-text">
						###TRACK_ARTISTS### - ###TRACK_URLNAME###
					</div>
				</td>
				<td width="10%">
					###TRACK_PLAYCOUNT###
				</td>
			</tr>
		<!-- ###TEMPLATE_TRACK### end -->
	</table>
###TEMPLATE###

