###TEMPLATE###
	###WEEKLYALBUMCHART_ATTR_GROUP### (###WEEKLYALBUMCHART_ATTR_FROM### - ###WEEKLYALBUMCHART_ATTR_TO###)
	<br />
	
	<table class="group_getWeeklyAlbumChart-TABLE" cellspacing="0px" cellpadding="2px">
		<!-- ###TEMPLATE_ALBUM### begin -->
			<tr class="###TEMPLATE_CHART_TR_CLASS-EFFECT### group_getWeeklyAlbumChart_TR_CLASS-effect">
				<td width="5%">
					###ALBUM_ATTR_RANK###
				</td>
				<td>
					<div style="width:###TEMPLATE_CHART_DIV_WIDTH###%;" class="group_getWeeklyAlbumChart-DIV-chart">
						<span>
						</span>
					</div>
					<div class="group_getWeeklyAlbumChart-DIV-chart-text">
						###ALBUM_ARTISTS### - ###ALBUM_URLNAME###
					</div>
				</td>
				<td width="10%">
					###ALBUM_PLAYCOUNT###
				</td>
			</tr>
		<!-- ###TEMPLATE_ALBUM### end -->
	</table>
###TEMPLATE###

