<!-- ###TEMPLATE### begin -->
	###PLAYLISTS_ATTR_USER###
	<!-- ###TEMPLATE_PLAYLIST### begin -->
		<table class="user_getPlaylists-TABLE">
			<tbody>
				<tr>
					<td>
						<b>###PLAYLIST_TITLE###</b> <br />
						###PLAYLIST_CREATOR###
					</td>
					<td>
						###PLAYLIST_DATE###
					</td>
				</tr>
			</tbody>
		</table>
	<!-- ###TEMPLATE_PLAYLIST### end -->
<!-- ###TEMPLATE### end -->

