<!-- ###TEMPLATE### begin -->
	<b>###PLAYLISTS_ATTR_USER###</b>:
	<!-- ###TEMPLATE_PLAYLIST### begin -->
		<table class="tx_musicview_pi1-TABLE-playlist">
			<tbody>
				<tr>
					<td>
						<b>###PLAYLIST_TITLE###</b> <br />
						###PLAYLIST_CREATOR###
					</td>
					<td>
						###PLAYLIST_DATE###
					</td>
				</tr>
			</tbody>
		</table>
	<!-- ###TEMPLATE_PLAYLIST### end -->
<!-- ###TEMPLATE### end -->

