###TEMPLATE###
	###RECENTTRACKS_ATTR_USER###
	<br />
	<table class="user_getRecentTracks-TABLE" cellspacing="0px" cellpadding="2px">
		<!-- ###TEMPLATE_TRACK### begin -->
			<tr class="user_getRecentTracks_TR_CLASS-effect">
				<td width="5%">
					###TRACK_IMAGE###
				</td>
				<td>
					<div>
						<b>###TRACK_URLNAME###</b> <br />
						###TRACK_ARTISTS###
					</div>
				</td>
				<td width="20%">
					###TRACK_DATE###
				</td>
			</tr>
		<!-- ###TEMPLATE_TRACK### end -->
	</table>
###TEMPLATE###
