###TEMPLATE###
	###NEIGHBOURS_ATTR_USER###
	<br />
	<table class="tx_musicview_pi1-TABLE-chart" cellspacing="0px" cellpadding="2px">
		<!-- ###TEMPLATE_USER### begin -->
			<tr class="###TEMPLATE_CHART_TR_CLASS-EFFECT### tx_musicview_pi1-TR-chart-mouseover-effect">
				<td width="5%">
					###USER_IMAGE###
				</td>
				<td>
					<div style="width:###USER_MATCH###%;" class="tx_musicview_pi1-DIV-chart-background">
						<span>
						</span>
					</div>
					<div class="tx_musicview_pi1-DIV-chart-text">
						###USER_URLNAME### (###USER_MATCH###)
					</div>
				</td>
			</tr>
		<!-- ###TEMPLATE_USER### end -->
	</table>
###TEMPLATE###

