###TEMPLATE###
	<table class="user_getLovedTracks-TABLE" cellspacing="0px" cellpadding="2px">
		<!-- ###TEMPLATE_TRACK### begin -->
			<tr class="user_getLovedTracks-TR_CLASS-effect">
				<td width="5%"> 
					###TRACK_IMAGE###
				</td>
				<td>
					<div style="padding-left:5px;">
						###TRACK_ARTISTS### - <b>###TRACK_URLNAME###</b>
					</div>
				</td>
				<td width="30%">
					###TRACK_DATE###
				</td>
			</tr>
		<!-- ###TEMPLATE_TRACK### end -->
	</table>
###TEMPLATE###
