
###TEMPLATE###

	<div class="tx-musicview-pi1-DIV-boxed">
		<!-- ###TEMPLATE_USER### begin -->
			<div class="tx-musicview-pi1-DIV-user-box">
				<h1>
					###USER_URLNAME###
				</h1>

				<div class="tx-musicview-pi1-DIV-user-image">
					###USER_IMAGE###
				</div>

				<!-- ###TEMPLATE_RECENTTRACK### begin -->
				<div class="tx-musicview-pi1-DIV-recenttrack">
					<!-- ###TEMPLATE_ARTIST### begin -->
						###ARTIST_URLNAME### - 
					<!-- ###TEMPLATE_ARTIST### end -->
					###RECENTTRACK_URLNAME###
				</div>
				<!-- ###TEMPLATE_RECENTTRACK### end -->
			</div>
			<!-- ###TEMPLATE_USER### end -->
	</div>

###TEMPLATE###
